@import './../../../../app.scss';

.mainContainer {
    margin-top: 20px;
}
.sign {
    font-size: 25px;
    font-weight: bold;
    font-family: $comfortaa;
    text-align: center;
}
.container {
    width: 540px;
    border-radius: 30px;
    padding: 0 15px;
    margin-top: 20px;
    font-family: "Montserrat", sans-serif;
    transition: 0.5s;
    &:hover {
        background-color: $lightGreen;
        color: white;
        .expandIcon {
            color: white;
        }
    }
    .variants {
        color: white;
        p:not(:first-child) {
            margin-top: 10px;
        }
    }
    .header {
        font-weight: bold;
        .Mui-expanded {
            transform: rotate(90deg)!important;
        }
    }
}
.active {
    background-color: $lightGreen;
    color: white;
    .expandIcon {
        color: white
    }
}
.clickable {
    cursor: pointer;
}
.offUnderline {
    &:before {
        display: none;
    }
}
.accordion {
    height: 40px;
    min-height: auto;
}

@media screen and (max-width: 1024px) {
    .container {
        width: initial;
    }
}
@media screen and (max-width: 768px) {
    .mainContainer {
        width: 100%;
        .container {
            width: 100%;
            padding: 0;
        }
    }
}
@media screen and (max-width: 425px) {
    .sign {
        font-size: 20px;
    }
}