$circleColor: rgba(100, 211, 112, 0.5);

.container {
    margin: 0 9.3%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 8%;
    padding-bottom: 4%;
    height: 340px;
    overflow-y: scroll;
    .circles {
        div {
            position: absolute;
            border-radius: 50%;
            border: 30px solid $circleColor;
            z-index: -5155;
        }
        .circle1 {
            width: 520px;
            height: 520px;
            bottom: -20%;
            left: -18%;
        }
        .circle2 {
            width: 345px;
            height: 345px;
            bottom: -29%;
            right: 0;
        }
        @media screen and (max-width: 1440px) {
            display: none;
        }
    }
    @media screen and (max-width: 1440px) {
        margin: 0 6.3%;
        margin-top: 8%;
    }
    @media screen and (max-width: 1024px) {
        height: 260px;
    }
    @media screen and (max-width: 768px) {
        height: 210px;
    }
    @media screen and (max-width: 425px) {
        grid-template-columns: 1fr;
        height: 240px;
    }
    @media screen and (max-width: 375px) {
        height: 230px;
    }
    @media screen and (max-width: 320px) {
        height: 210px;
    }
}