@import "../../../app.scss";

.container {
    @include mainPaddings;
    .goBackAndOrder {
        display: flex;
        justify-content: space-around;
        padding: 0 2%;
        .arrowContainer {
            width: 30px;
            height: 30px;
            text-align: center;
            background-color: lightgray;
            border-radius: 50%;
            margin: auto 0;
            transition: 0.5s;
            &:hover {
                background-color: $lightGreen;
                .arrow {
                    color: white;
                }
            }
            .arrow {
                width: 20px;
                color: black;
                margin: 3px 0 0 8px;
            }
        }
        .button {
            font-size: 25px;
            font-weight: 500;
            padding: 10px 35px;
            border-radius: 190px;
            display: block;
            margin: 50px 0 40px auto;
            background-color: $lightGreen;
            color: white;
        }
    }
    @media screen and (max-width: 1440px) {
        @include paddings1440;
    }
}
.chaptersContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    @media screen and (max-width: 425px) {
        grid-template-columns: 1fr;
    }
}