@import "./../../../app.scss";

.container {
    @include mainPaddings;
    .lunchesContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
        height: 500px;
        overflow-y: scroll;
        @media screen and (max-width: 2560px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media screen and (max-width: 425px) {
            grid-template-columns: 1fr;
        }
    }
    @media screen and (max-width: 1440px) {
        @include paddings1440;
    }
}