@import "./../../../app.scss";

.container {
    @include mainPaddings;
    .lunchesContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
        @media screen and (max-width: 425px) {
            grid-template-columns: 1fr;
        }
    }
    @media screen and (max-width: 1440px) {
        @include paddings1440;
    }
}